*,*::after,*::before{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}

body{
    line-height: 1.5;
    font-family: 'Archivo', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    width: 76%;
    max-width: 100%;
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center{
    justify-content: center;
    align-items: center;
}
.flex-32{
    flex:0 1 32%;
}
.flex-48{
    flex:0 1 48%;
}
.flex-10{
    flex: 0 1 10%;
}
.img-container > img{
    width: 100%;
}
.flex-22{
    flex: 0 1 22%;
}
.align-start{
    align-items: flex-start;
}
.flex-88{
    flex: 0 1 88%;
}
.flex-40{
    flex: 0 1 40%;
}
.flex-55{
    flex: 0 1 55%;
}
.flex-15{
    flex: 0 1 15%;
}
.flex-80{
    flex: 0 1 80%;
}
.flex-23{
    flex: 0 1 23%;
}
.flex-30{
    flex: 0 1 30%;
}
.padding{
    padding: 8rem 0;
}
@media screen  and (max-width: 768px){
    // html{
    //     font-size: 12px;
    // }
    .sm-flex-100{
        flex: 0  1 100%;
    }
    .sm-wrap{
        flex-wrap: wrap;
    }    
    
}
