$accent: rgb(220,62,69);
$footer-bg:rgb(52,58,64);
$primary: rgb(27,30,36);
$secondary: rgb(127,135,142);
$footer-color:rgb(189,189,189);
$banner-top: rgba(242,242,242,255);
$banner-middle:rgba(248,249,250,255);
$contact-bg:rgba(248,249,250,255);